body {
  margin: 0;
  font-family: lucida sans ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* , *:after , *:before {
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  margin: auto;
}
a{
  text-decoration: none;
}